<IfModule authz_core_module> Require all denied </IfModule>
<IfModule !authz_core_module> Deny from all </IfModule>
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*" 
  Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
  Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
</IfModule>
